$bg                        : "#242124" ;
$search-content            : "#FFFFFF" ;
$light_blue                : "#5558da" ;
$blue_purple               : "#5e83f9" ;
$light_blue1               : "#5fd1f9" ;
$light_pink                : "#f2709c" ;
$light_orange              : "#e19472" ;
$white_blue                : "#9cfcf8" ;
$white_purple              : "#6e7bfb" ;
